.categories {
  .menu {
    border: none;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 16px;
    width: 190px;
    text-decoration: underline;
    text-underline-offset: 4px;

    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }

  option {
    background-color: transparent;
    color: #fff;
  }
}

@media screen and (max-width: 760px) {
  .categories {
    .menu {
      font-size: 14px;
      width: 170px;
    }
    option {
      font-size: 10px;
    }
  }
}
