.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242423;
  color: #fff;

  &.overlay {
    
    &::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.818);
    }
  }
}
